//VARIABLES
$pink: hsl(322, 100%, 66%);
$ltBlue: hsl(193, 100%, 96%);
$dkBlue: hsl(192, 100%, 9%);
$gray: hsl(208, 11%, 55%);

//SETUP
*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
}

html, body{ 
  height: 100%;
  width: 100%;
}

body{
  font-family: "Open Sans", sans-serif;
}

//FONTS
h1, h2{
  color: $dkBlue;
  font-family:"Poppins", sans-serif;
  font-size: 1.75rem;
  margin: 1em 0;
}

h2{
  font-size: clamp(0.9rem, 2.5vw, 1.75rem);
}

p{
  color: $gray;
  line-height: 1.75;
}

button{
  background-color: #fff;
  border: none;
  border-radius: 5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  color: $dkBlue;
  cursor: pointer;
  font-family:"Poppins", sans-serif;
  font-weight: 600;
  padding: 1em 3rem;
}

.cta-btn{
  background-color: $pink;
  color: #fff;
  padding: clamp(0.5rem, 2.5vw, 1.5rem);
  width: 70%;
}


//GLOBAL
section, footer{ 
  padding: clamp(2rem, 5vw, 5rem);
}

.container{ 
  margin: 0 auto;
  max-width: 500px;
}


//DESKTOP VIEW
@media screen and (min-width: 62.5rem) {
  .container{ 
    max-width: 1400px;
    width: 90%;

    &--cta{
      max-width: 700px;
    }

  }
}