//VARIABLES
$pink: hsl(322, 100%, 66%);
$ltBlue: hsl(193, 100%, 96%);
$dkBlue: hsl(192, 100%, 9%);
$gray: hsl(208, 11%, 55%);

//SETUP
*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
}

html, body{ 
  height: 100%;
  width: 100%;
}

body{
  font-family: "Open Sans", sans-serif;
}

//FONTS
h1{
  color: $dkBlue;
  font-family:"Poppins", sans-serif;
  font-size: 1.75rem;
  margin: 1em 0;
}

p{
  color: $gray;
}

button{
  background-color: #fff;
  border: none;
  border-radius: 5rem;
  color: $dkBlue;
  cursor: pointer;
  font-family:"Poppins", sans-serif;
  font-weight: 600;
  padding: 0.5em 1rem;
}



@media screen and (min-width: 62.5rem) {
  .grid{ 
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    gap: 3rem;
  }
}