.feature{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 1rem;
    margin-bottom: 2rem;
    padding: 2rem;
    text-align: center;

    img{
        width: 100%;
    }

    h1{
        margin: 0;
    }


    &--cta{ 
        background-color: white;
        gap: 0 !important;
        position: relative;
        top: clamp(7.5rem, 15vw, 12.5rem);
    }
}


//MEDIA QUERY
@media screen and (min-width: 62.5rem) {
    .feature{
        padding: 3rem 3rem 3rem 5rem;
        gap: 3rem;
        article{
            text-align: left;
        }

        img{
            width: 45%;
        }

        &--right{ 
            flex-direction: row-reverse;
    
        }

        &--left{ 
            flex-direction: row;
        }
    }
}