$ltBlue: hsl(193, 100%, 96%);
$pink: hsl(322, 100%, 66%);

#hero{
    background-color: $ltBlue;
    background-image: url("../Images/bg-hero-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    text-align: center;

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: clamp(5rem, 1vw, 10rem);
    }

    h1{
        font-size: clamp(1.75rem, 7.5vw, 2.75rem);
    }

    button{
        margin: 2rem 0 4rem 0;
        max-width: 300px;
    }
}




.hero-img{
    width: 100%;
}

.logo{
    width: 7.5rem;
}

@media screen and (min-width: 62.5rem) {

    #hero{ 
        background-image: url("../Images/bg-hero-desktop.svg");
    }

    .hero-inner{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }

    .grid{ 
        display: grid;
        grid-template-columns: 0.4fr 0.6fr;
        gap: 3rem;
        margin: 0 auto;
        max-width: 1400px;
    }
}